<body>
  <!-- header div below -->
  <div class="header">
      <!-- company name div below -->
      <div class="pct">PCT</div>
      <img src="/Assets/pctIcon.png" class="pctIcon">

      <!-- user profile navigation  link below -->
       <a href="#">
       <div class="userProfile">Peter</div>
       <img src="/Assets/profileIcon.png" class="profileIcon">
      </a>

      <!-- user notifications navigation link below -->

  <a href="#">
      <div class="userNotification">Notifications </div>
      <!-- <img src="/Assets/notificationIcon.png" class="notificationIcon"> -->
  </a>
  </div>

      <!-- inbox navigation link below -->
   <a href="#">
  <div class="inbox">Inbox</div>
  <!-- <img src="/Assets/inboxIcon.png" class="inboxIcon"> -->
  </a>

  <!-- dashboard navigation link below -->

  <a href="#">
  <div class="dashboard">Dashboard</div>
  <!-- <img src="/Assets/dashbaordIcon.png" class="dashboardIcon"> -->
  </a>

  <!-- Menu Navigation Bar below -->


  <div class="menuBar">

      <!-- navLinks below -->
       <div class="navlinks">
          <a href="#" class="navLink">HOME</a>
          <img src="/Assets/homeIcon.png" class="homeIcon">
          <a href="#" class="navLink">LEARNING</a>
          <img src="/Assets/learningIcon.png" class="learningIcon">
          <a href="#" class="navLink">PROJECTS</a>
          <img src="/Assets/projectIcon.png" class="projectIcon">
          <a href="#" class="navLink">SUPPORT</a>
          <img src="/Assets/supportIcon.png" class="supportIcon">
       </div>

       <!-- qr link below -->


      <div class="qr">
        <img src="/Assets/pctQR.png">
      </div>
       <!-- contact div below  -->

       <div class="contact">
          <a href="#">No 23, 204 Road, Festac Town, Lagos.</a>
          <img src="/Assets/addressIcon.png" class="addressIcon">
          <a href="#">{{"Peterchidolue@gmail.com"}}</a>
          <img src="/Assets/mailIcon.png" class="emailIcon">
          <a href="#">+234 901 355 3720</a>
          <img src="/Assets/phoneIcon.png" class="phoneIcon">
      </div>

      <div class="copyright">Powered by PCT 2025</div>
      <div class="powered"></div>
  </div>


  <!-- learning header below -->

  <div class="learningHeader">
    <img src="/Assets/learningImage.png" class="learningImage">
    <div class="learningText">
      <br>LEARN THE LATEST TECHNOLOGIES
      <br>GAIN YOUR CERTIFICATION
      <br>APPLY FOR JOBS
    </div>
    <button class="getStarted">GET STARTED</button>
  </div>

  <!-- learning courses below -->

  <div class="learningCourses">
    <div class="course1">
      <div class="courseName">
        WEB DESIGN
      </div>
        <img src="/Assets/webDesign.png" class="mobileAppIcon">
      <div class="courseDetails">
        <br>Learn to build Modern Websites
        <br>Using the Latest Technologies
        <br>in the Industry
      </div>
      <div class="courseContent">
        <br>HTML5, CSS3, JAVASCRIPT
        <br>BOOTSTRAP 5
        <br>GIT (VERSION CONTROL)
      </div>
      <img src="/Assets/line.png" class="discountLine">
      <div class="discountPrice">350 000 NGN</div>
      <div class="currentPrice">300 000 NGN</div>
      <button class="payBtn">PAY</button>

    </div>
    <div class="course3">
      <div class="courseName">
        UI / UX DESIGN
      </div>
        <img src="/Assets/UIUX.png" class="mobileAppIcon">
      <div class="courseDetails">
        <br>Learn to design and create
        <br>User-Friendly and stunning
        <br>Digital Interfaces
      </div>
      <div class="courseContent">
        <br>FIGMA
        <br>ADOBE XD
        <br>ADOBE PHOTOSHOP
      </div>
      <img src="/Assets/line.png" class="discountLine">
      <div class="discountPrice">200 000 NGN</div>
      <div class="currentPrice">150 000 NGN</div>
      <button class="payBtn">PAY</button>


    </div>
    <div class="course2">
      <div class="courseName">
        MOBILE APPS
      </div>
        <img src="/Assets/mobileapp.png" class="mobileAppIcon">
      <div class="courseDetails">
        <br>Learn to build Powerful
        <br>IOS and ANDROID
        <br>Mobile Applications
      </div>
      <div class="courseContent">
        <br>REACT NATIVE
        <br>FLUTTER
        <br>DART
      </div>
      <img src="/Assets/line.png" class="discountLine">
      <div class="discountPrice">350 000 NGN</div>
      <div class="currentPrice">250 000 NGN</div>
      <button class="payBtn">PAY</button>


    </div>

  </div>


</body>
