body{
  background-image: url(/Assets/background.png);
}

.header{
  width:1000px;
  height: 50px;
  position:absolute;
  top:0px;
  left:50px;
  background: linear-gradient(90deg, #0D1139 75.86%, #7B7F87 100%);
  border-radius: 0px 0px 10px 10px;

}

.pct{
  font-family: belleza;
  font-size: 30px;
  position: absolute;
  left:7px;
  top:7px;
  color:whitesmoke;
}

.pctIcon{
  position: absolute;
  left:60px;
  width:30px;
  top:10px;
}

@keyframes powered {
  0%{
      transform: scale(0.2);
  }
  50%{
      transform:scale(0.5);
  }
  100%{
      transform:scale(0.8);
  }
}

.userProfile{
  position: absolute;
  right:10px;
  font-family: belleza;
  font-size: 25px;
  color:whitesmoke;
  top:10px;
}

.profileIcon{
  height: 30px;
  width:30px;
  position: absolute;
  right:70px;
  top:10px;

}

.userNotification{
  position: absolute;
  right:120px;
  font-family: belleza;
  font-size: 20px;
  color:whitesmoke;
  top:15px;
  cursor: pointer;
}

.qr img{
  height: 100px;
  width:100px;
  position: absolute;
  left: 20px;
  top: 170px;
}
/*
.notificationIcon{
  height: 30px;
  width:30px;
  position: absolute;
  right:70px;
  top:10px;
  right:220px;
} */

.inbox{
  position: absolute;
  right:310px;
  font-family: belleza;
  font-size: 20px;
  color:whitesmoke;
  top:15px;
  cursor: pointer;
}
/*
.inboxIcon{
  height: 30px;
  width:30px;
  position: absolute;
  right:360px;
  top:10px;

} */

.dashboard{
  position: absolute;
  right:400px;
  font-family: belleza;
  font-size: 20px;
  color:whitesmoke;
  top:15px;
  cursor: pointer;
}
/*
.dashboardIcon{
  height: 25px;
  width:25px;
  position: absolute;
  right:510px;
  top:10px;
} */

.menuBar{
  position: absolute;
  left: 0px;
  height: 400px;
  width: 250px;
  background: linear-gradient(180deg, #0D1139 53.86%, #1E1F21 63.36%);
  top:80px;
  font-family: belleza;
  font-size:15px;
  border-radius: 0px 10px 0px 0px;
  color:whitesmoke;

}
.copyright{
  font-family: belleza;
  font-size: 15px;
  color: whitesmoke;
  position: absolute;
  right:7px;
  bottom:0px;
}

.powered{
  width:20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  color: whitesmoke;
  background-color: whitesmoke;
  animation: powered 1s ease-in-out infinite;
  bottom: -3px;
  left:90px;

}

.navlinks{
  position: absolute;
  display: grid;
  color: whitesmoke;
  left:20px;
  top:25px;

}

.navLink{
  color: whitesmoke;
  margin-bottom: 20px;
  text-decoration:none;
  font-size: 15px;
  display: grid;
}

.contact{
  position:absolute;
  bottom:20px;
  font-family: belleza;
  font-size: 20px;
  display: grid;
  left:35px;

}


.contact a{
  font-family: belleza;
  font-size: 15px;
  color: whitesmoke;
  text-decoration: none;
  margin-bottom: 10px;


}

.homeIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50px;
  top:-5px;
}

.learningIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80px;
  top: 35px;
}
.projectIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 80px;
  top:69px;
}
.supportIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 75px;
  top:107px;
}

.addressIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  top:0px;
}

.phoneIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  top:70px;
}

.emailIcon{
  width: 20px;
  height: 20px;
  position: absolute;
  left: -25px;
  top:40px;
}

.learningHeader{
  position: absolute;
  top: 80px;
  background-image: url(/Assets/background.png);
  height: 200px;
  width : 845px;
  left:250px;
  border: whitesmoke 1px solid;
}

.learningImage{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;


}


.learningText{
  font-size: 20px;
  font-family: belleza;
  color: whitesmoke;
  text-align: center;
  line-height: 35px;
  position: absolute;
  left:240px;
  top:-20px;
}

.getStarted{
  position: absolute;
  top: 150px;
  left: 300px;
  width: 200px;
  height: 50px;
  background: linear-gradient(90deg, #0D1139 0%, #23309F 100%);
  border-radius: 10px 10px 0px 0px;
  font-family: belleza;
  font-size: 20px;
  color: whitesmoke;
  text-align: center;
  border: whitesmoke 1px solid;
  cursor: pointer;


}

.learningCourses{
  position: absolute;
  width:750px;
  height: 200px;
  background-color:transparent;
  bottom:0px;
  left:300px;

}

.course1{
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(180deg, #0C0C0E 47.36%, #636374 100%);

  left: 40px;
  top: 0px;
  border-radius: 10px 0px 0px 10px;
}

.course1 .courseName{
  position: absolute;
  top: 10px;
  left: 35px;
  font-size: 20px;
  color: whitesmoke;
  font-family: belleza;
}
.course1 .courseDetails{
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  font-family: belleza;
}
.course1 .courseContent{
  position: absolute;
  top: 75px;
  left: 10px;
  font-size: 15px;
  color: whitesmoke;
  font-family: belleza;
}
.course1 .discountPrice{
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 140px;
  left: 10px;
}

.course1 .discountLine{
  width:80px;
  margin-top: 68px;
}

.course1 .currentPrice{
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 135px;
  right: 15px;
  font-weight: bold;
}

.course1 .payBtn{
  position: absolute;
  width: 120px;
  height: 30px;
  background: linear-gradient(90deg, #0D1139 0%, #23309F 100%);
  border-radius: 5px 5px 0px 0px;
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  bottom:0px;
  left: 40px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: whitesmoke 1px solid;
}


.course2{
  position: absolute;
  width: 200px;
  height: 190px;
  background: #1E1F21;

  left: 250px;
  top: 5px;
  border-radius: 10px 10px 0px 0px;
  font-family: belleza;

}
.course2 .courseName{
  position: absolute;
  top: 10px;
  left: 35px;
  font-size: 20px;
  color: whitesmoke;
}
.course2 .courseContent{
  position: absolute;
  top: 75px;
  left: 10px;
  font-size: 15px;
  color: whitesmoke;
}

.course2 .courseDetails{
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;

}
.course2 .discountPrice{
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 135px;
  left: 10px;
}
.course2 .discountLine{
  width:80px;
  margin-top: 62px;
}
.course2 .currentPrice{
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 120px;
  right: 15px;
  font-weight: bold;

}
.course2 .payBtn{
  position: absolute;
  width: 120px;
  height: 30px;
  background: linear-gradient(90deg, #0D1139 0%, #23309F 100%);
  border-radius: 5px 5px 0px 0px;
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  top: 160px;
  left: 40px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: whitesmoke 1px solid;
}
.mobileAppIcon{
  position: absolute;
  height: 25px;
  width:25px;
  right:10px;
  top:5px;
}
.course3{
  position: absolute;
  width: 200px;
  height: 200px;
  background: linear-gradient(180deg, #0C0C0E 47.36%, #636374 100%);
  left: 460px;
  top: 0px;
  border-radius: 0px 10px 10px 0px;
}
.course3 .courseName{
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 20px;
  color: whitesmoke;
  font-family: belleza;
}

.course3 .courseDetails{
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  margin-top: 20px;
  font-family: belleza;
}

.course3 .courseContent{
  position: absolute;
  top: 75px;
  left: 10px;
  font-size: 15px;
  color: whitesmoke;
  font-family: belleza;
}

.course3 .discountPrice{
  font-size: 10px;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 140px;
  left: 10px;
}


.course3 .discountLine{
  width:80px;
  margin-top: 68px;
}

.course3 .currentPrice{
  font-size: 15px;
  color: whitesmoke;
  text-align: center;
  margin-top: 10px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  top: 135px;
  right: 15px;
  font-weight: bold;
}

.course3 .payBtn{
  position: absolute;
  width: 120px;
  height: 30px;
  background: linear-gradient(90deg, #0D1139 0%, #23309F 100%);
  border-radius: 5px 5px 0px 0px;
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  bottom:0px;
  left: 40px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  border: whitesmoke 1px solid;
}
