<body>
  <!-- header div below -->
  <div class="header">
      <!-- company name div below -->
      <div class="pct">PCT</div>
      <img src="/Assets/pctIcon.png" class="pctIcon">

      <!-- user profile navigation  link below -->
       <a href="#">
       <div class="userProfile">Peter</div>
       <img src="/Assets/profileIcon.png" class="profileIcon">
      </a>

      <!-- user notifications navigation link below -->

  <a href="#">
      <div class="userNotification">Notifications </div>
      <!-- <img src="/Assets/notificationIcon.png" class="notificationIcon"> -->
  </a>
  </div>

      <!-- inbox navigation link below -->
   <a href="#">
  <div class="inbox">Inbox</div>
  <!-- <img src="/Assets/inboxIcon.png" class="inboxIcon"> -->
  </a>

  <!-- dashboard navigation link below -->

  <a href="#">
  <div class="dashboard">Dashboard</div>
  <!-- <img src="/Assets/dashbaordIcon.png" class="dashboardIcon"> -->
  </a>

  <!-- Menu Navigation Bar below -->


  <div class="menuBar">

      <!-- navLinks below -->
       <div class="navlinks">
          <a href="#" class="navLink">HOME</a>
          <img src="/Assets/homeIcon.png" class="homeIcon">
          <a href="#" class="navLink">LEARNING</a>
          <img src="/Assets/learningIcon.png" class="learningIcon">
          <a href="#" class="navLink">PROJECTS</a>
          <img src="/Assets/projectIcon.png" class="projectIcon">
          <a href="#" class="navLink">SUPPORT</a>
          <img src="/Assets/supportIcon.png" class="supportIcon">
       </div>

       <!-- qr link below -->


      <div class="qr">
        <img src="/Assets/pctQR.png">
      </div>
       <!-- contact div below  -->

       <div class="contact">
          <a href="#">No 23, 204 Road, Festac Town, Lagos.</a>
          <img src="/Assets/addressIcon.png" class="addressIcon">
          <a href="#">{{"Peterchidolue@gmail.com"}}</a>
          <img src="/Assets/mailIcon.png" class="emailIcon">
          <a href="#">+234 901 355 3720</a>
          <img src="/Assets/phoneIcon.png" class="phoneIcon">
      </div>

      <div class="copyright">Powered by PCT 2025</div>
      <div class="powered"></div>
  </div>

  <!-- Dashboard Container -->

  <div class="dashboardContainer">

      <a href=""><div class="box1"><h1>Learning</h1><img src="/Assets/learningIcon.png" class="learningIcon"></div></a>
      <a href=""><div class="box2"><h1>Projects</h1><img src="/Assets/projectIcon.png" class="projectIcon"></div></a>
      <a href=""><div class="box3"><h1>Tasks</h1><img src="/Assets/taskIcon.png" class="taskIcon"></div></a>
      <a href=""><div class="box4"><h1>Profile</h1><img src="/Assets/profileIcon.png" class="profileIcon"></div></a>
      <a href=""><div class="box5"><h1>Contact Us</h1><img src="/Assets/supportIcon.png" class="supportIcon"></div></a>

  </div>

  <!--  Quick Chat div below -->

  <a href="#" class="chatBox">
  <!-- <div class="chatDiv">Orion<img src="/Assets/inboxIcon.png" class="inboxIcon2"></div> -->
</a>


</body>
